::selection{background-color:none; color:inherit;}

body{
  background-color: #dddddd; 
}

.qwerty.keyboard{
  width:620px; height: 320px;
  background-color: #111;
  margin: 0px auto;
  border-radius: 9px;
  padding: 30px;
  color: #eee;
}

.qwerty .logo{
  visibility: hidden;
  width:40px; height:40px;
  background-color:#CCC;
  color: #222;
  font-weight:300;
  font-style: oblique;
  font-size:30px;
  line-height:40px;
  text-align:center;
  margin: -20px auto 10px auto;
  border-radius:40px;
}


.qwerty .lights{
  float:right;
  position:relative;
  top:-45px;
  right:8px;
  padding:0;
  margin:0;
}
.qwerty .lights span{margin:0 20px 0 20px; padding:0; text-align: center;}

.qwerty .lights span:after {
  content:"";
  width:11px; height:8px;
  top: 22px; margin-left:-9px;
  position:absolute;
  border-radius: 3px;
}

.qwerty .lights span.on:after  {
  background-color:#14B524;
}

.qwerty .lights span.off:after  {
  background-color:gray;
}

.qwerty .key{
  width: 40px; height:40px;
  display:block;
  background-color:#333;
  text-align: left;
  padding-left: 8px;
  line-height: 29px;
  border-radius:2px;
  float:left; margin-left: 2px;
  margin-bottom:2px;
  transition: box-shadow 0.1s ease;
}

.qwerty .section-a{width:650px; height:260px; float:left;}
.qwerty .section-b{width:150px; height:260px; float:left;}

.qwerty .function{font-size: 12px; width:30px; height:30px; margin-bottom:15px;}
.qwerty .small{font-size:10px; line-height:13px; text-align: center; padding:0 5px; padding-top:2px; height:28px !important;}
.qwerty .space1{margin-right: 43px !important;}
.qwerty .space2{margin-right: 25px !important;}
.qwerty .dual {font-size: 14px; line-height: 20px; width:30px; }
.qwerty .backspace {width:84px; font-size: 12px;}
.qwerty .tab {width: 50px; line-height: 40px; font-size:13px;}
.qwerty .letter{width:30px;}
.qwerty .slash{width:64px;}
.qwerty .caps{width:70px; font-size:12px; line-height:18px;}
.qwerty .enter{width:92px; line-height:40px; text-align: center; padding-left:0;}
.qwerty .shift.left{width: 90px;line-height: 40px; font-size:13px;}
.qwerty .shift.right{width: 104px;line-height: 40px; font-size:13px;}
.qwerty .ctrl{width: 50px; line-height: 40px; font-size:13px;}
.qwerty .alt{width: 50px; line-height: 40px; font-size:13px;}
.qwerty .space{width:234px;}
.qwerty .arrows{position:relative; top:42px;}
.qwerty .sec-func .key{width: 32px; font-size:10px; text-align:left; line-height:40px; float:left;}
.qwerty .sec-func div.dual{line-height:20px;}
.qwerty .arrows .key{text-align: center; padding-left: 7px; margin-left:2px;}
.qwerty .hidden{visibility: hidden;}

.qwerty .key.down{
  box-shadow:0px 0px 10px #14B524; 
  background-color: #0c2b0f;
  z-index:1000;
}

.qwerty .key.expected{
  background-color: #13216b;
  z-index:1000;
}